// Typography
// ----------------------------------------------------
// Headings, lists, definitions, code, quotes, etc.
// Provides a nice system-wide typography system 
// that'll conform to the baseline set in the 
// _variables.scss partial.
// ----------------------------------------------------

/* ----------------------------------------------------
=typography
---------------------------------------------------- */
p,
ol,
ul,
dl,
address {
    font-size : 1em; /* 16 / 16 = 1 */
    margin-bottom : 1.5em;
}

ul,
ol {
    margin : 0 0 1.5em -24px;
    padding-left : 24px;
}

ul {
    list-style-type : disc;
}

ol {
    list-style-type : decimal;
}

li ul,
li ol {
    font-size : 1em; /* 16 / 16 = 1 */
    margin : 0;
}

dl,
dd {
    margin-bottom : 1.5em;
}

dt {
    font-weight : normal;
}

blockquote {
    border-left : 1px solid rgb(200,200,200);
    font-style : italic;
    margin : 0 0 1.5em -24px;
    padding-left : 24px;
}
    

blockquote:before,
blockquote:after,
q:before,
q:after {
    content : '';
    content : none;
}

b,
strong {
    font-weight : bold;
}

i,
em {
    font-style : italic;
}

sup,
sub {
    font-size : 75%;
    line-height : 0;
    position : relative;
}

sup {
    top : -.5em;
}

sub {
    bottom : -.25em;
}

address {
    font-style : normal;
}

pre {
    margin-bottom : 1.5em;
    white-space : pre;
    white-space : pre-wrap;
    word-wrap : break-word;
}

pre,
code {
    font : .875em 'andale mono', 'lucida console', monospace;
    line-height : 1.5;
}

small {
    font-size : 1em; /* 16 / 16 = 1 */
}

// BODY TEXT
// ---------

p {
  margin: 0 0 $baseLineHeight / 2;
  small {
    font-size: $baseFontSize - 2;
    color: $grayLight;
  }
}
.lead {
  margin-bottom: $baseLineHeight;
  font-size: 20px;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    color: $grayLight;
  }
}
h1 {
  font-size: 30px;
  line-height: $baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
h2 {
  font-size: 24px;
  line-height: $baseLineHeight * 2;
  small {
    font-size: 18px;
  }
}
h3 {
  font-size: 18px;
  line-height: $baseLineHeight * 1.5;
  small {
    font-size: 14px;
  }
}
h4, h5, h6 {
  line-height: $baseLineHeight;
}
h4 {
  font-size: 14px;
  small {
    font-size: 12px;
  }
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: $grayLight;
  text-transform: uppercase;
}

// Page header
.page-header {
  padding-bottom: $baseLineHeight - 1;
  margin: $baseLineHeight 0;
  border-bottom: 1px solid $grayLighter;
}
.page-header h1 {
  line-height: 1;
}



// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: $baseLineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}
dt,
dd {
  line-height: $baseLineHeight;
}
dt {
  font-weight: bold;
  line-height: $baseLineHeight - 1; // fix jank Helvetica Neue font bug
}
dd {
  margin-left: $baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: 130px;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: $baseLineHeight 0;
  border: 0;
  border-top: 1px solid $hrBorder;
  border-bottom: 1px solid $white;
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: $grayLight;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 $baseLineHeight;
  border-left: 5px solid $grayLighter;
  p {
    margin-bottom: 0;
    @include font-shorthand(16px,300,$baseLineHeight * 1.25);
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid $grayLighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  font-style: normal;
  line-height: $baseLineHeight;
}

// Misc
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
